<section class="features position-relative">
  <div class="container">
    <h6>POWERFUL FEATURES</h6>
    <h2>You'll get everything you need for efficient work</h2>
    <div nz-row>
      <div nz-col nzSm="24" nzMd="6">
        <div class="card">
          <div class="card-body">
            <h4><i class="fa fa-star-o" aria-hidden="true"></i>
              Saved replies</h4>
            <p>Be more effective using saved replies. You can be quick to your customers.</p>
          </div>
        </div>
      </div>
      <div nz-col nzSm="24" nzMd="6">
        <div class="card">
          <div class="card-body">
            <h4><i class="fa fa-star-o" aria-hidden="true"></i>
              Widget customization</h4>
            <p>Modify widget color, texts and operator photos. Easy to install in your website.</p>
          </div>
        </div>
      </div>
      <div nz-col nzSm="24" nzMd="6">
        <div class="card">
          <div class="card-body">
            <h4><i class="fa fa-star-o" aria-hidden="true"></i>
              Reports</h4>
            <p>view real-time reports about number of messages over time.</p>
          </div>
        </div>
      </div>
      <div nz-col nzSm="24" nzMd="6">
        <div class="card">
          <div class="card-body">
            <h4><i class="fa fa-star-o" aria-hidden="true"></i>
              Chats Assignments</h4>
            <p>Assign chats to operators and track them by the assignments.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
