<div *ngIf="!processed" style="padding-top: 60px;">
    <nz-skeleton-element class="text-align-center" nzType="button" [nzShape] [nzActive]="true" nzSize="large"
        nzShape="circle"></nz-skeleton-element>
    <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 0 }" class="skeleton-form-item"></nz-skeleton>
    <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 0 }" class="skeleton-form-item"></nz-skeleton>
    <div class="text-align-center" style="margin-top: 20px;">
        <nz-skeleton-element style="display: inline;margin-right: 10px;" class="text-align-center" nzType="button"
            [nzShape] [nzActive]="true" nzSize="default" nzShape="default"></nz-skeleton-element>
        <nz-skeleton-element style="display: inline;" class="text-align-center" nzType="button" [nzShape]
            [nzActive]="true" nzSize="default" nzShape="default"></nz-skeleton-element>
    </div>
</div>
<ng-container *ngIf="processed">
    <nz-result *ngIf="!status" nzStatus="error" nzTitle="Invalid invitation!"
        nzSubTitle="Please check the your invitation mail and link.">
        <div nz-result-extra>
            <button nz-button [routerLink]="['/']">Home</button>
        </div>
    </nz-result>
    <div *ngIf="status" class="authentication">
        <div class="authentication-inner">
          <nz-card>
            <form nz-form [formGroup]="inviteForm" class="simple-form" (ngSubmit)="submitInviteForm()">
              <nz-form-item>
                <h2 style="font-size: 20px;" class="form-header" nz-typography>YOU RECEIVED INVITATION FROM</h2>
              </nz-form-item>
              <nz-form-item>
                <div style="font-size: 18px;font-weight: bold;margin: 0 auto;">"{{invitationDetails.account.name}}"</div>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzErrorTip]="emailErrorTpl">
                  <ng-template #emailErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('emailCustom')">
                      E-mail! is not valid
                    </ng-container>
                    <ng-container *ngIf="control.hasError('required')">
                      Please input your E-mail!
                    </ng-container>
                  </ng-template>
                  <nz-input-group nzPrefixIcon="mail">
                    <input type="text" nz-input formControlName="email" placeholder="name@company.com" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>                 
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Name!">
                  <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="name" placeholder="Your Name" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>              
              <nz-form-item *ngIf="!(svc.session!==null && svc.session.email===invitationDetails?.user?.email)">
                <nz-form-control [nzErrorTip]="passwordErrorTpl">
                    <ng-template #passwordErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('passwordLength')">
                        Password! must be between 6-20 characters
                      </ng-container>
                      <ng-container *ngIf="control.hasError('required')">
                        Please input your Password!
                      </ng-container>
                    </ng-template>
                  <nz-input-group nzPrefixIcon="lock"  [nzSuffix]="pwdSuffixTemplate">
                    <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" placeholder="Password" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item *ngIf="!invitationDetails?.user?.password">
                <nz-form-control [nzErrorTip]="confirmPasswordErrorTpl">
                    <ng-template #confirmPasswordErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('confirmPassword')">
                        Confirm Password must be same as Password!
                      </ng-container>
                      <ng-container *ngIf="control.hasError('required')">
                        Please confirm your password!
                      </ng-container>
                    </ng-template>
                  <nz-input-group nzPrefixIcon="check-circle" [nzSuffix]="cnfmPwdSuffixTemplate">
                    <input [type]="cnfmPasswordVisible ? 'text' : 'password'" nz-input formControlName="confirmPassword" placeholder="Confirm Password" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <!--[disabled]="!signupForm.valid"-->
              <button nz-button class="full-width form-margin"
              [nzType]="'primary'">Accept</button> 
            </form>
          </nz-card>
        </div>
      </div>
      
      <ng-template #cnfmPwdSuffixTemplate>
        <i nz-icon [nzType]="cnfmPasswordVisible ? 'eye-invisible' : 'eye'" (click)="cnfmPasswordVisible = !cnfmPasswordVisible"></i>
      </ng-template>
      <ng-template #pwdSuffixTemplate>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
      </ng-template>
      
</ng-container>