<section class="privacy position-relative">
  <div class="privacy-inner container">
    <div nz-row>
      <div nz-col nzSm="24" nzMd="12">
        <div class="img-sec">
          <figure>
            <img src="/assets/images/security.png" alt="security">
          </figure>
        </div>
      </div>
      <div nz-col nzSm="24" nzMd="12">
        <div class="content-sec">
          <h6>PRIVACY & SECURITY</h6>
          <h2>Our commitment to consumers</h2>
          <p>We believe everyone has a fundamental right to access the best financial technology that enables them to
            live a healthy financial life.</p>
          <a href="">Learn more </a>
        </div>
      </div>
    </div>
  </div>
</section>
