<section class="growth container">
  <h2>Gear Up For Growth</h2>
  <p>With our powerful set of elements, you can make beautiful and customized.</p>

  <div class="growth-inner">
    <div class="img-sec">
      <img src="/assets/images/gear-up.png" alt="">
    </div>
    <div class="content-sec">
      <a class="card">
        <div class="card-body">
          <h4>Send an email with single line of code
          </h4>
          <p>You have easy to understand apis in your platform so you can spend less
            time
            adding
            email
            into your app and more time building cool stuff. </p>
        </div>
      </a>

      <a class="card">
        <div class="card-body">
          <h4>Send an email with single line of code
          </h4>
          <p>You have easy to understand apis in your platform so you can spend less
            time
            adding
            email
            into your app and more time building cool stuff. </p>
        </div>
      </a>

      <a class="card">
        <div class="card-body">
          <h4>Send an email with single line of code
          </h4>
          <p>You have easy to understand apis in your platform so you can spend less
            time
            adding
            email
            into your app and more time building cool stuff. </p>
        </div>
      </a>
    </div>
  </div>
</section>
