<div *ngIf="!processed" style="padding-top: 60px;">
    <nz-skeleton-element class="text-align-center" nzType="button" [nzShape] [nzActive]="true" nzSize="large"
        nzShape="circle"></nz-skeleton-element>
    <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 0 }" class="skeleton-form-item"></nz-skeleton>
    <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 0 }" class="skeleton-form-item"></nz-skeleton>
    <div class="text-align-center" style="margin-top: 20px;">
        <nz-skeleton-element style="display: inline;margin-right: 10px;" class="text-align-center" nzType="button"
            [nzShape] [nzActive]="true" nzSize="default" nzShape="default"></nz-skeleton-element>
        <nz-skeleton-element style="display: inline;" class="text-align-center" nzType="button" [nzShape]
            [nzActive]="true" nzSize="default" nzShape="default"></nz-skeleton-element>
    </div>
</div>
<ng-container *ngIf="processed">
    <nz-result *ngIf="!status" nzStatus="error" nzTitle="Rest password link expired or invalid!"
        nzSubTitle="Please go to singin and raise a new request.">
        <div nz-result-extra>
            <button nz-button nzType="primary" [routerLink]="['/signin']">Signin</button>
            <button nz-button [routerLink]="['/']">Home</button>
        </div>
    </nz-result>
    <div *ngIf="status" class="authentication">
        <div class="authentication-inner">
          <nz-card>
            <form nz-form [formGroup]="resetForm" class="simple-form" (ngSubmit)="submitResetForm()">
              <nz-form-item>
                <h2 class="form-header" nz-typography>Reset password</h2>
              </nz-form-item>
              <nz-form-item>
                <nz-avatar style="margin: 0 auto;width: 78px;height: 78px;border: 3px solid #cccccc;" nzIcon="user" [nzSrc]="'//www.gravatar.com/avatar/'+svc.truUtils.md5.hashStr(email)+'?d=wavatar'"></nz-avatar>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control >
                  <nz-input-group nzPrefixIcon="mail">
                   {{email}}
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item> 
              <nz-form-item>
                <nz-form-control [nzErrorTip]="passwordErrorTpl">
                    <ng-template #passwordErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('passwordLength')">
                        Password! must be between 6-20 characters
                      </ng-container>
                      <ng-container *ngIf="control.hasError('required')">
                        Please input your Password!
                      </ng-container>
                    </ng-template>
                  <nz-input-group nzPrefixIcon="lock"  [nzSuffix]="pwdSuffixTemplate">
                    <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" placeholder="Password" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzErrorTip]="confirmPasswordErrorTpl">
                    <ng-template #confirmPasswordErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('confirmPassword')">
                        Confirm Password must be same as Password!
                      </ng-container>
                      <ng-container *ngIf="control.hasError('required')">
                        Please confirm your password!
                      </ng-container>
                    </ng-template>
                  <nz-input-group nzPrefixIcon="check-circle" [nzSuffix]="cnfmPwdSuffixTemplate">
                    <input [type]="cnfmPasswordVisible ? 'text' : 'password'" nz-input formControlName="confirmPassword" placeholder="Confirm Password" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <!--[disabled]="!signupForm.valid"-->
              <button nz-button class="full-width form-margin"
              [nzType]="'primary'">Reset</button> 
            </form>
          </nz-card>
        </div>
      </div>
      
      <ng-template #cnfmPwdSuffixTemplate>
        <i nz-icon [nzType]="cnfmPasswordVisible ? 'eye-invisible' : 'eye'" (click)="cnfmPasswordVisible = !cnfmPasswordVisible"></i>
      </ng-template>
      <ng-template #pwdSuffixTemplate>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
      </ng-template>
      
</ng-container>